RewriteEngine On

RewriteRule ^art/$ /art.php#menu [NE]
RewriteRule ^writing/$ /writing/index.php#menu [NE]
RewriteRule ^poetry/$ /poetry/index.php#menu [NE]
RewriteRule ^contact/$ /contact.php#menu [NE]
RewriteRule ^resume/$ /resume.php#menu [NE]
RewriteRule ^qself/$ /qself.php#menu [NE]
